<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="/assets/fontawesome-free-5.0.8/web-fonts-with-css/css/fontawesome-all.min.css">
    <title>Profolio</title>
</head>

<body>
    <nav class="navbar navbar-default container-fluid" style="border-bottom-color:rgba(213, 149, 54, 0.927); background-color:white;" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" style="color:rgba(213, 149, 54, 0.927);">Profolio GeN</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#" style="color:rgba(213, 149, 54, 0.927);">
                            <i class="far fa-newspaper fa-2x"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" style="color:rgba(213, 149, 54, 0.927);">
                            <i class="far fa-user-circle fa-2x"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" style="color:rgba(213, 149, 54, 0.927);">
                            <i class="far fa-paper-plane fa-2x"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container space">
        <div class="row space">
            <div class="col-sm-4">
                <img src="./a4bfd504d2d2e60430873b498ea824ba.png" class="img-responsive dp" alt="Image">
            </div>
            <div class="col-sm-8">
                <h3>Lorem ipsum dolor</h3>
                <em>Lorem ipsum dolor full name</em>
                <button type="button" class="btn btn-primary btn-sm">edit profile</button>
                <button type="button" class="btn btn-info btn-sm" id="upload" data-toggle="modal" data-target="#exampleModa">
                    Upload
                </button>
            </div>
            <div class="col-sm-12">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nec posuere metus. Donec pretium dolor id justo venenatis elementum.
                    Mauris quis sollicitudin tortor. Maecenas vestibulum nisl quis nulla dictum faucibus. Sed ac enim nec
                    neque hendrerit auctor. Sed luctus, lorem a consequat consequat, lectus risus tempor ipsum, id rutrum
                    justo dui at mi. Aenean lobortis tristique est, sed facilisis lorem dictum id. Integer eget egestas risus.
                    Morbi non ante rhoncus, varius elit sed, interdum ex. Sed mollis tempor diam, sit amet pellentesque est
                    imperdiet at.
                </p>
            </div>
        </div>
        <div class="col-sm-4 space">

            <a data-toggle="modal" data-target="#exampleModal">
                <img src="./IMG_20171123_133415.jpg" class="img-responsive port" alt="Image">
            </a>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="thumbnail">
                                <img src="./IMG_20171123_133415.jpg" class="img-responsive" id="feed">
                                <div class="caption text-left">
                                    <h3>
                                        <img src="./a4bfd504d2d2e60430873b498ea824ba.png" id="profileimg">Lorem ipsum dolor</h3>
                                    <p class="details">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nec posuere metus. Donec pretium dolor id justo venenatis elementum.
                                        Mauris quis sollicitudin tortor. Maecenas vestibulum nisl quis nulla dictum faucibus.
                                        Sed ac enim nec neque hendrerit auctor. Sed luctus, lorem a consequat consequat,
                                        lectus risus tempor ipsum, id rutrum justo dui at mi. Aenean lobortis tristique est,
                                        sed facilisis lorem dictum id. Integer eget egestas risus. Morbi non ante rhoncus,
                                        varius elit sed, interdum ex. Sed mollis tempor diam, sit amet pellentesque est imperdiet
                                        at.
                                    </p>
                                    <p>
                                        <a href="#" class="btn btn-primary">like</a>
                                        <a href="#" class="btn btn-default">view</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 space">

            <a data-toggle="modal" data-target="#exampleModal">
                <img src="./IMG_20171123_133415.jpg" class="img-responsive port" alt="Image">
            </a>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="thumbnail">
                                <img src="./IMG_20171123_133415.jpg" class="img-responsive" id="feed">
                                <div class="caption text-left">
                                    <h3>
                                        <img src="./a4bfd504d2d2e60430873b498ea824ba.png" id="profileimg">Lorem ipsum dolor</h3>
                                    <p class="details">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nec posuere metus. Donec pretium dolor id justo venenatis elementum.
                                        Mauris quis sollicitudin tortor. Maecenas vestibulum nisl quis nulla dictum faucibus.
                                        Sed ac enim nec neque hendrerit auctor. Sed luctus, lorem a consequat consequat,
                                        lectus risus tempor ipsum, id rutrum justo dui at mi. Aenean lobortis tristique est,
                                        sed facilisis lorem dictum id. Integer eget egestas risus. Morbi non ante rhoncus,
                                        varius elit sed, interdum ex. Sed mollis tempor diam, sit amet pellentesque est imperdiet
                                        at.
                                    </p>
                                    <p>
                                        <a href="#" class="btn btn-primary">like</a>
                                        <a href="#" class="btn btn-default">view</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 space">

            <a data-toggle="modal" data-target="#exampleModal">
                <img src="./IMG_20171123_133415.jpg" class="img-responsive port" alt="Image">
            </a>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="thumbnail">
                                <img src="./IMG_20171123_133415.jpg" class="img-responsive" id="feed">
                                <div class="caption text-left">
                                    <h3>
                                        <img src="./a4bfd504d2d2e60430873b498ea824ba.png" id="profileimg">Lorem ipsum dolor</h3>
                                    <p class="details">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nec posuere metus. Donec pretium dolor id justo venenatis elementum.
                                        Mauris quis sollicitudin tortor. Maecenas vestibulum nisl quis nulla dictum faucibus.
                                        Sed ac enim nec neque hendrerit auctor. Sed luctus, lorem a consequat consequat,
                                        lectus risus tempor ipsum, id rutrum justo dui at mi. Aenean lobortis tristique est,
                                        sed facilisis lorem dictum id. Integer eget egestas risus. Morbi non ante rhoncus,
                                        varius elit sed, interdum ex. Sed mollis tempor diam, sit amet pellentesque est imperdiet
                                        at.
                                    </p>
                                    <p>
                                        <a href="#" class="btn btn-primary">like</a>
                                        <a href="#" class="btn btn-default">view</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 space">

            <a data-toggle="modal" data-target="#exampleModal">
                <img src="./IMG_20171123_133415.jpg" class="img-responsive port" alt="Image">
            </a>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="thumbnail">
                                <img src="./IMG_20171123_133415.jpg" class="img-responsive" id="feed">
                                <div class="caption text-left">
                                    <h3>
                                        <img src="./a4bfd504d2d2e60430873b498ea824ba.png" id="profileimg">Lorem ipsum dolor</h3>
                                    <p class="details">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nec posuere metus. Donec pretium dolor id justo venenatis elementum.
                                        Mauris quis sollicitudin tortor. Maecenas vestibulum nisl quis nulla dictum faucibus.
                                        Sed ac enim nec neque hendrerit auctor. Sed luctus, lorem a consequat consequat,
                                        lectus risus tempor ipsum, id rutrum justo dui at mi. Aenean lobortis tristique est,
                                        sed facilisis lorem dictum id. Integer eget egestas risus. Morbi non ante rhoncus,
                                        varius elit sed, interdum ex. Sed mollis tempor diam, sit amet pellentesque est imperdiet
                                        at.
                                    </p>
                                    <p>
                                        <a href="#" class="btn btn-primary">like</a>
                                        <a href="#" class="btn btn-default">view</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 space">

            <a data-toggle="modal" data-target="#exampleModal">
                <img src="./IMG_20171123_133415.jpg" class="img-responsive port" alt="Image">
            </a>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="thumbnail">
                                <img src="./IMG_20171123_133415.jpg" class="img-responsive" id="feed">
                                <div class="caption text-left">
                                    <h3>
                                        <img src="./a4bfd504d2d2e60430873b498ea824ba.png" id="profileimg">Lorem ipsum dolor</h3>
                                    <p class="details">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nec posuere metus. Donec pretium dolor id justo venenatis elementum.
                                        Mauris quis sollicitudin tortor. Maecenas vestibulum nisl quis nulla dictum faucibus.
                                        Sed ac enim nec neque hendrerit auctor. Sed luctus, lorem a consequat consequat,
                                        lectus risus tempor ipsum, id rutrum justo dui at mi. Aenean lobortis tristique est,
                                        sed facilisis lorem dictum id. Integer eget egestas risus. Morbi non ante rhoncus,
                                        varius elit sed, interdum ex. Sed mollis tempor diam, sit amet pellentesque est imperdiet
                                        at.
                                    </p>
                                    <p>
                                        <a href="#" class="btn btn-primary">like</a>
                                        <a href="#" class="btn btn-default">view</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 space">

            <a data-toggle="modal" data-target="#exampleModal">
                <img src="./IMG_20171123_133415.jpg" class="img-responsive port" alt="Image">
            </a>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="thumbnail">
                                <img src="./IMG_20171123_133415.jpg" class="img-responsive" id="feed">
                                <div class="caption text-left">
                                    <h3>
                                        <img src="./a4bfd504d2d2e60430873b498ea824ba.png" id="profileimg">Lorem ipsum dolor</h3>
                                    <p class="details">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nec posuere metus. Donec pretium dolor id justo venenatis elementum.
                                        Mauris quis sollicitudin tortor. Maecenas vestibulum nisl quis nulla dictum faucibus.
                                        Sed ac enim nec neque hendrerit auctor. Sed luctus, lorem a consequat consequat,
                                        lectus risus tempor ipsum, id rutrum justo dui at mi. Aenean lobortis tristique est,
                                        sed facilisis lorem dictum id. Integer eget egestas risus. Morbi non ante rhoncus,
                                        varius elit sed, interdum ex. Sed mollis tempor diam, sit amet pellentesque est imperdiet
                                        at.
                                    </p>
                                    <p>
                                        <a href="#" class="btn btn-primary">like</a>
                                        <a href="#" class="btn btn-default">view</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 space">

            <a data-toggle="modal" data-target="#exampleModal">
                <img src="./IMG_20171123_133415.jpg" class="img-responsive port" alt="Image">
            </a>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="thumbnail">
                                <img src="./IMG_20171123_133415.jpg" class="img-responsive" id="feed">
                                <div class="caption text-left">
                                    <h3>
                                        <img src="./a4bfd504d2d2e60430873b498ea824ba.png" id="profileimg">Lorem ipsum dolor</h3>
                                    <p class="details">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nec posuere metus. Donec pretium dolor id justo venenatis elementum.
                                        Mauris quis sollicitudin tortor. Maecenas vestibulum nisl quis nulla dictum faucibus.
                                        Sed ac enim nec neque hendrerit auctor. Sed luctus, lorem a consequat consequat,
                                        lectus risus tempor ipsum, id rutrum justo dui at mi. Aenean lobortis tristique est,
                                        sed facilisis lorem dictum id. Integer eget egestas risus. Morbi non ante rhoncus,
                                        varius elit sed, interdum ex. Sed mollis tempor diam, sit amet pellentesque est imperdiet
                                        at.
                                    </p>
                                    <p>
                                        <a href="#" class="btn btn-primary">like</a>
                                        <a href="#" class="btn btn-default">view</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 space">

            <a data-toggle="modal" data-target="#exampleModal">
                <img src="./IMG_20171123_133415.jpg" class="img-responsive port" alt="Image">
            </a>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="thumbnail">
                                <img src="./IMG_20171123_133415.jpg" class="img-responsive" id="feed">
                                <div class="caption text-left">
                                    <h3>
                                        <img src="./a4bfd504d2d2e60430873b498ea824ba.png" id="profileimg">Lorem ipsum dolor</h3>
                                    <p class="details">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nec posuere metus. Donec pretium dolor id justo venenatis elementum.
                                        Mauris quis sollicitudin tortor. Maecenas vestibulum nisl quis nulla dictum faucibus.
                                        Sed ac enim nec neque hendrerit auctor. Sed luctus, lorem a consequat consequat,
                                        lectus risus tempor ipsum, id rutrum justo dui at mi. Aenean lobortis tristique est,
                                        sed facilisis lorem dictum id. Integer eget egestas risus. Morbi non ante rhoncus,
                                        varius elit sed, interdum ex. Sed mollis tempor diam, sit amet pellentesque est imperdiet
                                        at.
                                    </p>
                                    <p>
                                        <a href="#" class="btn btn-primary">like</a>
                                        <a href="#" class="btn btn-default">view</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 space">

            <a data-toggle="modal" data-target="#exampleModal">
                <img src="./IMG_20171123_133415.jpg" class="img-responsive port" alt="Image">
            </a>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="thumbnail">
                                <img src="./IMG_20171123_133415.jpg" class="img-responsive" id="feed">
                                <div class="caption text-left">
                                    <h3>
                                        <img src="./a4bfd504d2d2e60430873b498ea824ba.png" id="profileimg">Lorem ipsum dolor</h3>
                                    <p class="details">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nec posuere metus. Donec pretium dolor id justo venenatis elementum.
                                        Mauris quis sollicitudin tortor. Maecenas vestibulum nisl quis nulla dictum faucibus.
                                        Sed ac enim nec neque hendrerit auctor. Sed luctus, lorem a consequat consequat,
                                        lectus risus tempor ipsum, id rutrum justo dui at mi. Aenean lobortis tristique est,
                                        sed facilisis lorem dictum id. Integer eget egestas risus. Morbi non ante rhoncus,
                                        varius elit sed, interdum ex. Sed mollis tempor diam, sit amet pellentesque est imperdiet
                                        at.
                                    </p>
                                    <p>
                                        <a href="#" class="btn btn-primary">like</a>
                                        <a href="#" class="btn btn-default">view</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <center>
            <button type="button" class="btn btn-info btn-lg space" id="upload" data-toggle="modal" data-target="#exampleModa">
                Upload
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Upload File</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="" enctype="multipart/form-data" method="post" role="form">
                                <div class="form-group" style="display:inline-flex">
                                    <input type="file" class="form-control" name="upload" multiple>
                                    <input type="submit" value="Upload" class="btn btn-default">
                                </div>
                                <div class="form-group col-md-12">
                                    <textarea class="form-control space" id="exampleFormControlTextarea1" name="msg" rows="3" placeholder="message"></textarea>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </center>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom " style="border-top-color:rgba(213, 149, 54, 0.927); background-color:white;" role="navigation">
        <a class="navbar-brand" style="color:rgba(213, 149, 54, 0.927);" href="#">&copy;PortfolioGen</a>
    </nav>


    <script src="/assets/jquery-3.3.1.min.js"></script>
    <script src="/assets/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
</body>

</html>